In [56]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV, cross_val_score

In [57]:
df=pd.read_csv('../artifacts/data_transform.csv')
df.head()

,Rating,Age,Company Name_Accusaga,Company Name_Applied Materials,"Company Name_Arch Systems, LLC",Company Name_Barclays,Company Name_Blackcoffer (OPC) Pvt. Ltd,Company Name_Boston Consulting Group,Company Name_Drimlite,Company Name_Excellent Opportunity,...,seniority_junior,seniority_senior,Revenue_Upper_high,Revenue_Upper_low,Revenue_Upper_med,Size_Upper_high,Size_Upper_large,Size_Upper_low,Size_Upper_med,log_avg_salary
0,4.20,61.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,13.527830
1,3.80,28.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,13.710151
2,3.90,334.00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,13.764218
3,4.09,84.32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.930652
4,4.09,84.32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.744045

In [58]:
df.shape

(765, 67)

In [59]:
X = df.drop('log_avg_salary', axis =1)
y = df['log_avg_salary']

In [60]:
print(df['log_avg_salary'].describe())

count    765.000000
mean      13.378312
std        0.741372
min       11.695255
25%       12.899222
50%       13.458837
75%       13.764218
max       14.930652
Name: log_avg_salary, dtype: float64

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [62]:
numerical_columns = ['Rating', 'Age']

sc = StandardScaler()
X_train[numerical_columns] = sc.fit_transform(X_train[numerical_columns].copy())
X_test[numerical_columns] = sc.transform(X_test[numerical_columns].copy())

In [63]:
model = SVR()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.4f}")

Mean Squared Error: 0.0088