In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df=pd.read_csv('../artifacts/data_transformed.csv')
df.head()

,Rating,avg_salary,ml_yn,dl_yn,ai_yn,python_yn,sql_yn,tool_yn,cloud_yn,Size_Upper,...,job_simp_analyst,job_simp_data scientist,job_simp_manager,job_simp_mle,job_simp_na,job_simp_nan,seniority_jr,seniority_na,seniority_senior,seniority_nan
0,4.200000,1500000.0,0,0,0,0,0,0,0,10000.000000,...,0,1,0,0,0,0,0,0,1,0
1,3.800000,1800000.0,1,0,0,0,0,0,0,10000.000000,...,0,0,0,1,0,0,0,0,1,0
2,3.900000,1900000.0,1,0,0,0,0,0,0,10000.000000,...,0,1,0,0,0,0,0,1,0,0
3,4.090038,6100000.0,0,0,0,1,0,0,0,5443.687375,...,0,1,0,0,0,0,0,1,0,0
4,4.090038,252000.0,1,1,0,1,0,0,0,5443.687375,...,0,0,0,0,1,0,0,1,0,0

In [7]:
df.dtypes.value_counts()

int64      80
float64     5
Name: count, dtype: int64

In [16]:
X = df.drop('avg_salary', axis =1)
y = df['avg_salary']

In [17]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error

def train(model, X, y):
    # train the model
    x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=42)
    model.fit(x_train, y_train)
    
    # predict the training set
    pred = model.predict(x_test)
    
    # perform cross-validation
    cv_score = cross_val_score(model, X, y, scoring='neg_mean_squared_error', cv=5)
    cv_score = np.abs(np.mean(cv_score))
    
    print("Model Report")
    print("MSE:",mean_squared_error(y_test, pred))
    print('CV Score:', cv_score)

In [19]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
train(model, X, y)

Model Report
MSE: 2.8529689274545655e-12
CV Score: 1.9747548185639974e-12

In [20]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
train(model, X, y)

Model Report
MSE: 0.0
CV Score: 0.0

In [21]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
train(model, X, y)

Model Report
MSE: 0.0
CV Score: 0.0

In [22]:
from sklearn.ensemble import ExtraTreesRegressor
#It is similar to the RandomForestRegressor but differs in the way trees are constructed. 
#Specifically, ExtraTreesRegressor uses the entire sample instead of bootstrapping and splits nodes by choosing random thresholds for each feature
model = ExtraTreesRegressor()
train(model, X, y)

Model Report
MSE: 0.0
CV Score: 0.0